MYSQL_DSN=root:ottodot@tcp(127.0.0.1:3306)/ottodot?parseTime=true&loc=UTC&timeout=10s
MYSQL_TEST_DSN=root:ottodot@tcp(127.0.0.1:3306)/ottodot_test?parseTime=true&loc=UTC&timeout=10s
HTTP_ADDR=:8080
HOLD_TTL=8m
